<h1>News一覧画面</h1>
<% @newss.each do |news| %>

<div>
  <p>Day:<%= @news.created_at.strftime('%Y/%m/%d') %></p>
  <p>Title:<%= news.news_title %></p>
  <p>Body: <%= news.news_body %></p>
</div>
<% end %>